<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>follow_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,203}</string>
                <key>spriteSourceSize</key>
                <string>{211,203}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,203}</string>
                <key>spriteSourceSize</key>
                <string>{211,203}</string>
                <key>textureRect</key>
                <string>{{0,205},{211,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,258}</string>
                <key>spriteSourceSize</key>
                <string>{255,258}</string>
                <key>textureRect</key>
                <string>{{0,410},{255,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,258}</string>
                <key>spriteSourceSize</key>
                <string>{255,258}</string>
                <key>textureRect</key>
                <string>{{0,670},{255,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_nametag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{0,930},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_heading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,71}</string>
                <key>spriteSourceSize</key>
                <string>{227,71}</string>
                <key>textureRect</key>
                <string>{{21,930},{227,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top_bar.png</string>
            <key>size</key>
            <string>{255,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d64c16efd5f01a08428a36c5c5fafea0:76ff043b1711593e0d60b9865998d71e:c09926ff13dea3c287257a2e4af5da27$</string>
            <key>textureFileName</key>
            <string>top_bar.png</string>
        </dict>
    </dict>
</plist>
