<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-181.5,180.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{707,353},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{214,206}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{723,211},{214,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{230,222}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{707,419},{230,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{244,236}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{257,1475},{244,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{254,244}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,1241},{254,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{307,977},{258,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,991},{258,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{254,246}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{261,1227},{254,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{248,240}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{517,1391},{248,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{242,234}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,1487},{242,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{236,228}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{245,1713},{236,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{323,407},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{230,222}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{707,643},{230,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{226,224}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,1723},{226,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{240,236}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{503,1633},{240,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,252}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{567,1137},{256,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{272,268}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{597,867},{272,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{288,286}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{307,689},{288,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,302}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,687},{304,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{320,318}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,367},{320,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,334}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{369,353},{336,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,350}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{369,1},{352,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{323,367},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,364}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{723,1},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{597,779},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{597,689},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{825,1137},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{767,1557},{146,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{767,1391},{170,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{194,186}</string>
                <key>spriteSourceSize</key>
                <string>{366,364}</string>
                <key>textureRect</key>
                <string>{{745,1699},{194,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pitstop-2x.png</string>
            <key>size</key>
            <string>{940,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb53c5325c79958ab766fd563e17510:84e7edf9d583de8166dbeef3bd72e26d:7b80d98fbe9507bd9c985fee3c59110e$</string>
            <key>textureFileName</key>
            <string>pitstop-2x.png</string>
        </dict>
    </dict>
</plist>
