<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pit-stop/pitstop-c3/next-button-overlay-large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,120}</string>
                <key>spriteSourceSize</key>
                <string>{744,120}</string>
                <key>textureRect</key>
                <string>{{1,1795},{744,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button-overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,120}</string>
                <key>textureRect</key>
                <string>{{747,1795},{400,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/empty-star-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,200}</string>
                <key>spriteSourceSize</key>
                <string>{208,200}</string>
                <key>textureRect</key>
                <string>{{1327,1397},{208,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/exit-button-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,115}</string>
                <key>spriteSourceSize</key>
                <string>{107,115}</string>
                <key>textureRect</key>
                <string>{{1149,1795},{107,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,130}</string>
                <key>textureRect</key>
                <string>{{1258,1767},{400,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-large-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,130}</string>
                <key>spriteSourceSize</key>
                <string>{744,130}</string>
                <key>textureRect</key>
                <string>{{1163,1133},{744,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-large-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,130}</string>
                <key>spriteSourceSize</key>
                <string>{744,130}</string>
                <key>textureRect</key>
                <string>{{1163,1265},{744,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,130}</string>
                <key>textureRect</key>
                <string>{{1824,1397},{400,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/pop-up-card-2-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{988,1130}</string>
                <key>spriteSourceSize</key>
                <string>{1012,1154}</string>
                <key>textureRect</key>
                <string>{{995,1},{988,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/pop-up-card-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,1134}</string>
                <key>spriteSourceSize</key>
                <string>{1012,1154}</string>
                <key>textureRect</key>
                <string>{{1,1},{992,1134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/replay-icon-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1909,1133},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/splash-verse/popup-container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,656}</string>
                <key>spriteSourceSize</key>
                <string>{1160,656}</string>
                <key>textureRect</key>
                <string>{{1,1137},{1160,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/splash-verse/popup-no-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,162}</string>
                <key>spriteSourceSize</key>
                <string>{368,162}</string>
                <key>textureRect</key>
                <string>{{1163,1397},{368,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/splash-verse/popup-yes-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,162}</string>
                <key>spriteSourceSize</key>
                <string>{368,162}</string>
                <key>textureRect</key>
                <string>{{1660,1397},{368,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>splash-verse-sheet.png</string>
            <key>size</key>
            <string>{1984,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3263773d1f2ec94d9d7aa8f67453b5a9:57db4bf22995faa753d2b85c49fe92f6:290e2b445d3eed07a629f3c5aa37c3bd$</string>
            <key>textureFileName</key>
            <string>splash-verse-sheet.png</string>
        </dict>
    </dict>
</plist>
