<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{101,567},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{101,473},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,303},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,103},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,203},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,303},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,503},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,203},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,403},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,399},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand-gestures.png</string>
            <key>size</key>
            <string>{200,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a355f7fd1b3cf5a1371eaf034d126907:433793210214f837d4a9b6e864625334:bfd5f86f79d07dd9d0aa9fb4b78c6107$</string>
            <key>textureFileName</key>
            <string>hand-gestures.png</string>
        </dict>
    </dict>
</plist>
