<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{0,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{290,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{580,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{870,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1160,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1450,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1740,0},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{0,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{290,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{580,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{870,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1160,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1450,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1740,245},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{0,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{290,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{580,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{870,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1160,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1450,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1740,490},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{0,735},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{290,735},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{580,735},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{870,735},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,245}</string>
                <key>spriteSourceSize</key>
                <string>{290,245}</string>
                <key>textureRect</key>
                <string>{{1160,735},{290,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{2030,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51dbb44b89eb4c349e6a7255b0d37f18:9e29c6f0ce482a70f310d250a51d3708:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
