<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{145,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{290,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{435,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{580,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{725,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{870,0},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{0,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{145,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{290,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{435,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{580,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{725,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{870,123},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{0,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{145,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{290,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{435,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{580,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{725,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{870,246},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{0,369},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{145,369},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{290,369},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{435,369},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,123}</string>
                <key>spriteSourceSize</key>
                <string>{145,123}</string>
                <key>textureRect</key>
                <string>{{580,369},{145,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{1015,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbe4a3d33a1960ed92e759c7bb9da856:cd5df9e1165060740217cb0126c69d21:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
