<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helper/base/okbtn_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{91,75}</string>
                <key>textureRect</key>
                <string>{{936,736},{91,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helper/base/okbtn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{918,829},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper/base/overlay_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{106,70}</string>
                <key>spriteSourceSize</key>
                <string>{126,74}</string>
                <key>textureRect</key>
                <string>{{809,910},{106,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper/base/right_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,101}</string>
                <key>spriteSourceSize</key>
                <string>{112,101}</string>
                <key>textureRect</key>
                <string>{{921,435},{112,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,607}</string>
                <key>spriteSourceSize</key>
                <string>{564,607}</string>
                <key>textureRect</key>
                <string>{{1,1},{562,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/exit-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{944,375},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/next-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{859,599},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/arrow-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{809,982},{12,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/big-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,209}</string>
                <key>textureRect</key>
                <string>{{584,599},{206,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{193,958},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{221,958},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,4}</string>
                <key>spriteSourceSize</key>
                <string>{58,4}</string>
                <key>textureRect</key>
                <string>{{1010,375},{58,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/exit-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{918,901},{54,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/filled-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{125,958},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/filled-progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,4}</string>
                <key>spriteSourceSize</key>
                <string>{58,4}</string>
                <key>textureRect</key>
                <string>{{429,941},{58,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/gift-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{249,958},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button-large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,65}</string>
                <key>spriteSourceSize</key>
                <string>{372,65}</string>
                <key>textureRect</key>
                <string>{{944,1},{372,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{792,599},{200,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/replay-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{326,958},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{809,801},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/tick-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{1007,829},{20,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/replay-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{936,549},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/star-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{978,949},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{146,136}</string>
                <key>textureRect</key>
                <string>{{584,808},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/empty-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,21}</string>
                <key>spriteSourceSize</key>
                <string>{432,21}</string>
                <key>textureRect</key>
                <string>{{921,1},{432,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/empty-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{221,958},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/empty-game-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{221,958},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/empty-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{274,958},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/filled-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{426,15}</string>
                <key>spriteSourceSize</key>
                <string>{432,21}</string>
                <key>textureRect</key>
                <string>{{1,941},{426,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/game-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{164,958},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/music-off-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{978,901},{46,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/music-on-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{429,947},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/pop-up-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{732,808},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/popup-container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,329}</string>
                <key>spriteSourceSize</key>
                <string>{581,329}</string>
                <key>textureRect</key>
                <string>{{1,610},{581,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/replay-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{477,947},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/sound-off-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{525,941},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/sound-on-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{573,946},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/star-panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,33}</string>
                <key>spriteSourceSize</key>
                <string>{122,33}</string>
                <key>textureRect</key>
                <string>{{1,958},{122,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{300,958},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/undo-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{621,946},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/wrong-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{669,946},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-game/base_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,354}</string>
                <key>spriteSourceSize</key>
                <string>{596,354}</string>
                <key>textureRect</key>
                <string>{{565,1},{596,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-cocos-1.png</string>
            <key>size</key>
            <string>{1023,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbbef695b22f93df05b00e71a7e54be:b678e78e720d8e3bcda6914565fcc6b1:0020bc8e788448ef600451ab81e9034f$</string>
            <key>textureFileName</key>
            <string>common-cocos-1.png</string>
        </dict>
    </dict>
</plist>
