<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helper/base/okbtn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,73}</string>
                <key>spriteSourceSize</key>
                <string>{91,75}</string>
                <key>textureRect</key>
                <string>{{1,832},{89,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/background-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{454,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{497,566},{454,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{155,755},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/pop-up-card-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,565}</string>
                <key>spriteSourceSize</key>
                <string>{506,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{494,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/pop-up-card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,563}</string>
                <key>spriteSourceSize</key>
                <string>{506,577}</string>
                <key>textureRect</key>
                <string>{{497,1},{492,563}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/popup-no-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{1,568},{185,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/popup-yes-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{188,568},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume-game/home_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{1,645},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume-game/resume_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{78,645},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-cocos-2.png</string>
            <key>size</key>
            <string>{990,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbbef695b22f93df05b00e71a7e54be:b678e78e720d8e3bcda6914565fcc6b1:0020bc8e788448ef600451ab81e9034f$</string>
            <key>textureFileName</key>
            <string>common-cocos-2.png</string>
        </dict>
    </dict>
</plist>
