<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>follow_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,405}</string>
                <key>spriteSourceSize</key>
                <string>{422,405}</string>
                <key>textureRect</key>
                <string>{{0,0},{422,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,405}</string>
                <key>spriteSourceSize</key>
                <string>{422,405}</string>
                <key>textureRect</key>
                <string>{{0,407},{422,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,515}</string>
                <key>spriteSourceSize</key>
                <string>{509,515}</string>
                <key>textureRect</key>
                <string>{{0,814},{509,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,515}</string>
                <key>spriteSourceSize</key>
                <string>{509,515}</string>
                <key>textureRect</key>
                <string>{{0,1331},{509,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_nametag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{0,1848},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_heading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,142}</string>
                <key>spriteSourceSize</key>
                <string>{454,142}</string>
                <key>textureRect</key>
                <string>{{40,1848},{454,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top_bar.png</string>
            <key>size</key>
            <string>{509,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a6d886df2b65e083bc4dfa5c863abe0:40fe9bc95ac3c7d96c32a62c0abc0ca2:c09926ff13dea3c287257a2e4af5da27$</string>
            <key>textureFileName</key>
            <string>top_bar.png</string>
        </dict>
    </dict>
</plist>
