<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helper/base/okbtn_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,150}</string>
                <key>spriteSourceSize</key>
                <string>{181,150}</string>
                <key>textureRect</key>
                <string>{{1710,1630},{181,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helper/base/okbtn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,140}</string>
                <key>spriteSourceSize</key>
                <string>{173,140}</string>
                <key>textureRect</key>
                <string>{{997,1844},{173,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helper/base/okbtn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,138}</string>
                <key>spriteSourceSize</key>
                <string>{181,150}</string>
                <key>textureRect</key>
                <string>{{1515,1747},{165,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helper/base/overlay_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-4}</string>
                <key>spriteSize</key>
                <string>{205,140}</string>
                <key>spriteSourceSize</key>
                <string>{251,148}</string>
                <key>textureRect</key>
                <string>{{1675,1488},{205,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper/base/right_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,202}</string>
                <key>spriteSourceSize</key>
                <string>{224,202}</string>
                <key>textureRect</key>
                <string>{{771,1844},{224,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1123,1214}</string>
                <key>spriteSourceSize</key>
                <string>{1127,1214}</string>
                <key>textureRect</key>
                <string>{{1,1},{1123,1214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/exit-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{1709,1813},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/next-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,149}</string>
                <key>spriteSourceSize</key>
                <string>{370,149}</string>
                <key>textureRect</key>
                <string>{{1190,1317},{370,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/arrow-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{1190,1126},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/background-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{906,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1126},{906,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/big-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,417}</string>
                <key>spriteSourceSize</key>
                <string>{416,417}</string>
                <key>textureRect</key>
                <string>{{771,1126},{412,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{1655,1809},{52,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,8}</string>
                <key>spriteSourceSize</key>
                <string>{116,8}</string>
                <key>textureRect</key>
                <string>{{1,2034},{116,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/empty-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,209}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{1464,1468},{209,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/exit-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,115}</string>
                <key>spriteSourceSize</key>
                <string>{107,115}</string>
                <key>textureRect</key>
                <string>{{1675,1165},{107,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/filled-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{1847,1977},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/filled-progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,8}</string>
                <key>spriteSourceSize</key>
                <string>{116,8}</string>
                <key>textureRect</key>
                <string>{{119,2034},{116,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/gift-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{1143,1540},{45,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button-large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,130}</string>
                <key>spriteSourceSize</key>
                <string>{744,130}</string>
                <key>textureRect</key>
                <string>{{1877,1},{744,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,130}</string>
                <key>textureRect</key>
                <string>{{1877,747},{400,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/replay-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1143,1694},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{1562,1165},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/tick-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{1143,1739},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/replay-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,150}</string>
                <key>spriteSourceSize</key>
                <string>{370,150}</string>
                <key>textureRect</key>
                <string>{{771,1540},{370,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/star-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{1925,1827},{84,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,272}</string>
                <key>spriteSourceSize</key>
                <string>{292,272}</string>
                <key>textureRect</key>
                <string>{{1190,1488},{292,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/empty-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{864,42}</string>
                <key>spriteSourceSize</key>
                <string>{864,42}</string>
                <key>textureRect</key>
                <string>{{1139,1933},{864,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/empty-game-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{1655,1747},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/empty-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{1143,1594},{48,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/filled-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{848,26}</string>
                <key>spriteSourceSize</key>
                <string>{864,42}</string>
                <key>textureRect</key>
                <string>{{997,2019},{848,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/game-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{1923,1977},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/music-off-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1839,1827},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/music-on-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1675,1274},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/pop-up-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,149}</string>
                <key>spriteSourceSize</key>
                <string>{370,149}</string>
                <key>textureRect</key>
                <string>{{1143,1782},{370,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/popup-container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1162,658}</string>
                <key>spriteSourceSize</key>
                <string>{1162,658}</string>
                <key>textureRect</key>
                <string>{{1217,1},{1162,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/popup-no-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,150}</string>
                <key>spriteSourceSize</key>
                <string>{370,150}</string>
                <key>textureRect</key>
                <string>{{771,1692},{370,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/popup-yes-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,150}</string>
                <key>spriteSourceSize</key>
                <string>{370,150}</string>
                <key>textureRect</key>
                <string>{{1190,1165},{370,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/replay-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1562,1274},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/sound-off-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1769,1274},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/sound-on-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1675,1360},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/star-panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,66}</string>
                <key>spriteSourceSize</key>
                <string>{244,66}</string>
                <key>textureRect</key>
                <string>{{1464,1679},{244,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{1143,1644},{48,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/undo-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1562,1360},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/wrong-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1761,1360},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-game/home_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,126}</string>
                <key>spriteSourceSize</key>
                <string>{337,126}</string>
                <key>textureRect</key>
                <string>{{1877,1149},{337,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume-game/resume_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,126}</string>
                <key>spriteSourceSize</key>
                <string>{337,126}</string>
                <key>textureRect</key>
                <string>{{1882,1488},{337,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-cocos-retina-1.png</string>
            <key>size</key>
            <string>{2009,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a6bb7220d4d652a0ee48b4479b0eef4:7e1e4fd1477f50c73e331a4613282fe3:ddd6fd3668c19250f34198a54f955f35$</string>
            <key>textureFileName</key>
            <string>common-cocos-retina-1.png</string>
        </dict>
    </dict>
</plist>
