<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pit-stop/pitstop-c3/next-button-overlay-large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,60}</string>
                <key>spriteSourceSize</key>
                <string>{372,60}</string>
                <key>textureRect</key>
                <string>{{1,900},{372,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/next-button-overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{375,900},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/empty-star-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{666,702},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/exit-button-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{577,900},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{633,888},{200,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-large-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,65}</string>
                <key>spriteSourceSize</key>
                <string>{372,65}</string>
                <key>textureRect</key>
                <string>{{583,568},{372,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-large-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,65}</string>
                <key>spriteSourceSize</key>
                <string>{372,65}</string>
                <key>textureRect</key>
                <string>{{583,635},{372,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/next-button-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{918,702},{200,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/pop-up-card-2-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,565}</string>
                <key>spriteSourceSize</key>
                <string>{506,577}</string>
                <key>textureRect</key>
                <string>{{499,1},{494,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/pop-up-card-dark-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,567}</string>
                <key>spriteSourceSize</key>
                <string>{506,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{496,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/splash-verse/replay-icon-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{957,568},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/splash-verse/popup-container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,328}</string>
                <key>spriteSourceSize</key>
                <string>{580,328}</string>
                <key>textureRect</key>
                <string>{{1,570},{580,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar/splash-verse/popup-no-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,81}</string>
                <key>textureRect</key>
                <string>{{583,702},{184,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress-bar/splash-verse/popup-yes-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,81}</string>
                <key>textureRect</key>
                <string>{{835,702},{184,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>splash-verse-sheet.png</string>
            <key>size</key>
            <string>{994,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db9e62635fa512e8c8ec4b0400cb0c7:65d2b9be2a20003c775c2d284ab3fed5:290e2b445d3eed07a629f3c5aa37c3bd$</string>
            <key>textureFileName</key>
            <string>splash-verse-sheet.png</string>
        </dict>
    </dict>
</plist>
