<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pit-stop/pitstop-c3/pop-up-card-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{988,1130}</string>
                <key>spriteSourceSize</key>
                <string>{1012,1154}</string>
                <key>textureRect</key>
                <string>{{1,1},{988,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pit-stop/pitstop-c3/pop-up-card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,1126}</string>
                <key>spriteSourceSize</key>
                <string>{1012,1154}</string>
                <key>textureRect</key>
                <string>{{991,1},{984,1126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-game/base_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,605}</string>
                <key>spriteSourceSize</key>
                <string>{1073,605}</string>
                <key>textureRect</key>
                <string>{{1,1133},{1073,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-cocos-retina-2.png</string>
            <key>size</key>
            <string>{1976,1739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a6bb7220d4d652a0ee48b4479b0eef4:7e1e4fd1477f50c73e331a4613282fe3:ddd6fd3668c19250f34198a54f955f35$</string>
            <key>textureFileName</key>
            <string>common-cocos-retina-2.png</string>
        </dict>
    </dict>
</plist>
